@font-face {
    font-family: VCR OSD Mono;
    src: url("https://fuseishere813.github.io/fonts/vcr.ttf")  format("truetype");
}

body {
  background-image: url('https://fuseishere813.github.io/images/FinityErisIsHotAF.jpeg');
background-attachment: fixed;  
background-size: cover;
 font-family: VCR OSD Mono;
}
